<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893435407802-osd0dvllobqjaf7flb5b91o8n4h80l4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893435407802-osd0dvllobqjaf7flb5b91o8n4h80l4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893435407802-56g8h7m0qq7ui9aho3mnihg9kdtupdt7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAza3BUl9dpUCCCZKLCdKUCjLN2WwTlCiw</string>
	<key>GCM_SENDER_ID</key>
	<string>893435407802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routestaxi.driverapp</string>
	<key>PROJECT_ID</key>
	<string>routes-6b43b</string>
	<key>STORAGE_BUCKET</key>
	<string>routes-6b43b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893435407802:ios:3122ebb18c119495dd4183</string>
	<key>DATABASE_URL</key>
	<string>https://routes-6b43b-default-rtdb.firebaseio.com</string>
</dict>
</plist>